#contactForm {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contactForm button[type="submit"] {
    background-color: #6a5acd;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#contactForm button[type="submit"]:hover {
    background-color: #9370db;
}
 .btn-light {
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn-light i {
    font-size: 24px;
    color: white;
    margin: 0 10px;
}

.btn-light:hover i {
    color: #b457b9;
}       
