/* Body and general styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e6e6fa;
    /* Lavender color for background */
    color: #4b0082;
    /* Dark purple color for text */
}

/* Headers and main titles */
header {
    background-color: #9370db;
    /* Medium purple for header background */
    color: #fff;
    /* White text color */
    padding: 15px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6a5acd;
    /* Lilac color for headings */
}

/* Links */
a {
    color: #800080;
    /* Dark magenta for links */
    text-decoration: none;
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
}

a:hover {
    color: #9932cc;
    /* Lighter magenta on hover */
}

/* Forms and inputs */
form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #9370db;
    /* Medium purple border for inputs */
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-top: 10px;
}

button {
    background-color: #6a5acd;
    /* Lilac button background */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #9370db;
    /* Medium purple on button hover */
}

/* Navbar */
.navbar {
    background-color: #9370db;
    /* Medium purple navbar */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #9370db;
    /* White text color for navbar links */
}

.navbar-toggler {
    border-color: #9370db;
    /* White border color for toggler icon */
}

.nav-link {
    color: #9370db; 
    /* Important to override default link colors */
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
}

.nav-link:hover {
    color: #ddd;
    /* Lighter color on hover */
}

/* Footer */
footer {
    background-color: #6a5acd;
    /* Lilac footer background */
    color: #fff;
    /* White text color */
    text-align: center;
    padding: 10px 0;
}