body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e6e6fa, #ffffff);
    color: #4b0082;
}

header {
    background: linear-gradient(to right, #c6acfe, #b0b7fe);
    color: #fff;
    padding: 5px;
    text-align: center;
    height: fit-content;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f2f1fa;
}

a {
    color: #800080;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #9932cc;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #faf8fe;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-top: 10px;
}

button {
    background-color: linear-gradient(to bottom, #a897ed, #4121a1);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: linear-gradient(to bottom, #9370db, #c4bee8);
}

.navbar {
    background: linear-gradient(to right, #c6acfe, #b0b7fe);}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff;
}

.navbar-toggler {
    border-color: #fff;
}

.nav-link {
    color: #fff;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #8d798e;
}
footer {
    background: linear-gradient(to right, #c6acfe, #b0b7fe);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
 
}
.custom-register {
    background: linear-gradient(to bottom, #a897ed, #4121a1);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.custom-register:hover {
    background: linear-gradient(to bottom, #9370db, #c4bee8);
}