/* Landing Page CSS */
/* Landing page specific styles */

/* Main container */
main {
    text-align: center;
    padding: 20px;
}

/* Login form */
#loginForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    /* White background for the form */
    border: 1px solid #ccc;
    /* Light gray border */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Light shadow */
}

#loginForm label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color: #333;
    /* Dark text color */
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    /* Light gray border */
    border-radius: 5px;
    box-sizing: border-box;
}

#loginForm button[type="submit"] {
    background-color: #6a5acd;
    /* Lilac button background */
    color: #fff;
    /* White text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#loginForm button[type="submit"]:hover {
    background-color: #9370db;
    /* Medium purple on hover */
}

/* Register link */
#loginForm p {
    margin-top: 15px;
    text-align: center;
}

#loginForm p a {
    color: #6a5acd;
    /* Lilac link color */
    text-decoration: none;
    font-weight: bold;
}

#loginForm p a:hover {
    text-decoration: underline;
}