
main {
    text-align: center;
    padding: 20px;
}

#postForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #efedf4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#postForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f4f3f6;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

#postForm button[type="submit"] {
    background-color: #6a5acd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}



#postsList {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #f2f1f6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.post {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #9370db;
    border-radius: 5px;
}

.post .post-content {
    margin-bottom: 10px;
}

.post .post-date {
    font-size: 12px;
    color: #666;
}
.custom-btn {
    padding: 4px;
    border-radius: 50%;

}

.custom-btn img {
    width: 24px;
    height: 24px;
}

#sortByUsernameBtn,
#sortByDatePostedBtn {
    color: #ffffff;
       background: linear-gradient(to bottom, #a897ed, #4121a1);
       border: none;
   
    
}

#sortByUsernameBtn:hover,
#sortByDatePostedBtn:hover {
    color: #ffffff;
    background: linear-gradient(to bottom, #9370db, #c4bee8);
}